<h1>Listing services</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Type</th>
    <th>Interval</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.url %></td>
    <td><%= service.type %></td>
    <td><%= service.interval %></td>
    <td><%= service.status %></td>
    <td><%= link_to 'Show', service %></td>
    <td><%= link_to 'Edit', edit_service_path(service) %></td>
    <td><%= link_to 'Destroy', service, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service', new_service_path %>
